{% load staticfiles %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>TF_Chat</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href={% static 'assets/css/bootstrap.min.css' %} rel="stylesheet"/>

    <!-- Animation library for notifications
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    -->

    <link href={% static 'assets/css/animate.min.css' %} rel="stylesheet"/>

    <!--  Paper Dashboard core CSS
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>
    -->
    <link href={% static 'assets/css/paper-dashboard.css' %} rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="assets/css/demo.css" rel="stylesheet" />-->

    <link href={% static 'assets/css/demo.css' %} rel="stylesheet"/>


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <!--
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    -->
    <link href={% static 'assets/css/themify-icons.css' %} rel="stylesheet"/>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script type="text/javascript">

    jQuery(function ($) {
            var target = $(".test1");
            $("#btn1").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test2");
            $("#btn2").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test3");
            $("#btn3").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test4");
            $("#btn4").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test5");
            $("#btn5").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test6");
            $("#btn6").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test7");
            $("#btn7").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test8");
            $("#btn8").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test9");
            $("#btn9").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test10");
            $("#btn10").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test11");
            $("#btn11").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test12");
            $("#btn12").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test13");
            $("#btn13").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test14");
            $("#btn14").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test15");
            $("#btn15").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test16");
            $("#btn16").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test17");
            $("#btn17").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test18");
            $("#btn18").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test19");
            $("#btn19").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test20");
            $("#btn20").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test21");
            $("#btn21").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test22");
            $("#btn22").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test23");
            $("#btn23").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });jQuery(function ($) {
            var target = $(".test24");
            $("#btn24").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test25");
            $("#btn25").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test26");
            $("#btn26").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test27");
            $("#btn27").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test28");
            $("#btn28").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test29");
            $("#btn29").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test30");
            $("#btn30").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
    jQuery(function ($) {
            var target = $(".test0");
            $("#btn0").click(function () {
                if (target.is(":hidden")) {
                    target.slideDown();

                } else {
                    target.slideUp();

                }
            })
    });
</script>


<style type="text/css">
    label {
        background: green;
        color: #fff;
        padding: 10px;
        display: block;
        margin: 0;
        border: 1px solid #fff;
    }

    input[type="checkbox"].on-off {
        display: none;
    }

    .menu ul {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu li {
        padding: 5px;
    }

    input[type="checkbox"].on-off + ul {
        height: 0;
        overflow: hidden;
    }

    input[type="checkbox"].on-off:checked + ul {
        height: 200px;
    }
    .test0 {
        display:none;
    }
    .test1 {
        display:none;
    }

    .test2 {
        display:none;
    }
    .test3 {
        display:none;
    }

    .test4 {
        display:none;
    }
    .test5 {
        display:none;
    }

    .test6 {
        display:none;
    }
    .test7 {
        display:none;
    }

    .test8 {
        display:none;
    }
    .test9 {
        display:none;
    }

    .test10 {
        display:none;
    }
    .test11 {
        display:none;
    }

    .test12 {
        display:none;
    }
    .test13 {
        display:none;
    }

    .test14 {
        display:none;
    }
    .test15 {
        display:none;
    }

    .test16 {
        display:none;
    }
    .test17 {
        display:none;
    }

    .test18 {
        display:none;
    }
    .test19 {
        display:none;
    }

    .test20 {
        display:none;
    }
    .test21 {
        display:none;
    }

    .test22 {
        display:none;
    }
    .test23 {
        display:none;
    }

    .test24 {
        display:none;
    }
    .test25 {
        display:none;
    }

    .test26 {
        display:none;
    }
    .test27 {
        display:none;
    }

    .test28 {
        display:none;
    }
    .test29 {
        display:none;
    }

    .test30 {
        display:none;
    }

    .table > tbody > tr > td {
        padding: 3px;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

     .Keyword{
        padding:0px;
        width:30%;
    }
    .Answer{
        padding:0px;
        width:90%;
    }

    .NextQA{
        padding:0px;
    }

</style>

<body>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    TF_Chat
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/top">
                        <i class="ti-home"></i>
                        <p>Top Page</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/qa">
                        <i class="ti-comments"></i>
                        <p>QA</p>
                    </a>
                </li>
                <li>
                    <a href="/log">
                        <i class="ti-server"></i>
                        <p>Log</p>
                    </a>
                </li>
                <li>
                    <a href="/setting">
                        <i class="ti-settings"></i>
                        <p>Setting</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>


    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">QA</a>
                </div>


            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                </div>
                <div class="col-md-12">
                    <h5 style="color: red">No.0には該当がない際の返答を入力してください。</h5>
                 <form action="" method="post">
                    {% for form in formset %}

                        {% csrf_token %}
                        {{ form.id}}
                        <div class="card">
                            <table class="table table-striped" 　style="table-layout:fixed;">

                                <thead>
                                <th style="width:5%;text-align: right;">
                                    No.{{ forloop.counter|add:-1 }}

                                </th>


                                <th style="width:5%"></th>
                                <th colspan="4" style="width:90%;text-align: right">
                                    <div class="btn btn-default">
                                        <button name="buttom" value="{{ forloop.counter|add:-1 }}" type="submit "style="background:none;border:0;">更新</button>
                                    </div>
                                </th>
                                </thead>
                                <tbody>
                                {% if  forloop.counter == 1 %}

                                {% else %}
                                <tr>
                                    <td></td>
                                    <td style="text-align: right;"><h5>Keyword</h5></td>
                                    <td colspan="4" style="padding-left:2%;padding-right:2%;">
                                        {{ form.Keyword|add_class:"Keyword"}}
                                    </td>

                                </tr>
                                {% endif %}
                                <tr>
                                    <td></td>
                                    <td style="text-align: right;"><h5>Answer</h5></td>
                                    <td colspan="4" style="padding-left:2%;padding-right:2%;">
                                        {{ form.Answer|add_class:"Answer"}}
                                    </td>

                                </tr>

                                <tr>
                                    <td></td>
                                    <td style="text-align: right;"><h5>URL</h5></td>
                                    <td colspan="4" style="padding-left:2%;padding-right:2%;">

                                        {{ form.URL|add_class:"Answer" }}
                                        <button id="btn{{ forloop.counter|add:-1 }}" type="button" style="background:none;border:0;padding-left: 4%;">
                                            <i class="ti-angle-down"></i>
                                        </button>
                                    </td>
                                    </td>
                                </tr>

                                <tr class="test{{ forloop.counter |add:-1}}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: left;width:10%;">
                                        <h7>ReplyNo.</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        <h7>ReplyKeyWord</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        <h7>Next AnswerNo.</h7>
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>

                                </tr>

                                <tr class="test{{ forloop.counter |add:-1}}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;width:10%;">
                                        <h7>{{ forloop.counter|add:-1 }}-1</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.Q1|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.A1|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>
                                </tr>
                                <tr class="test{{ forloop.counter |add:-1}}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;width:10%;">
                                        <h7>{{ forloop.counter |add:-1}}-2</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                         {{ form.Q2|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                         {{ form.A2|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>
                                </tr>
                                <tr class="test{{ forloop.counter|add:-1 }}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;width:10%;">
                                        <h7>{{ forloop.counter|add:-1 }}-3</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.Q3|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.A3|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>
                                </tr>
                                <tr class="test{{ forloop.counter|add:-1 }}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;width:10%;">
                                        <h7>{{ forloop.counter |add:-1}}-4</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.Q4|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.A4|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>
                                </tr>
                                <tr class="test{{ forloop.counter|add:-1 }}">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;width:10%;">
                                        <h7>{{ forloop.counter |add:-1}}-5</h7>
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.Q5|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:20%;">
                                        {{ form.A5|add_class:"NextQA" }}
                                    </td>
                                    <td style="text-align: left;width:50%;"></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>
            , create by <a href="http://www.creative-tim.com">Techforward.Inc</a>
        </div>
    </div>
</footer>



</body>

<!--   Core JS Files   -->
<script type="text/javascript" src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!--  Checkbox, Radio & Switch Plugins -->

<script type="text/javascript" src="{% static 'assets/js/bootstrap-checkbox-radio.js' %}"></script>
<!--  Charts Plugin -->

<script type="text/javascript" src="{% static 'assets/js/chartist.min.js' %}"></script>


<!--  Notifications Plugin    -->

<script type="text/javascript" src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-notify.js' %}"></script>



<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script type="text/javascript" src="{% static 'assets/js/paper-dashboard.js' %}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script type="text/javascript" src="{% static 'assets/js/demo.js' %}"></script>


</html>
