{% load staticfiles %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>TF_Chat</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="icon" type="image/png" sizes="96x96" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>TF_Chat</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/static/assets/css/paper-dashboard.css" rel="stylesheet" />
    <link href="/static/assets/css/themify-icons.css" rel="stylesheet" />


</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script type="text/javascript">

    jQuery(function ($) {
        var target = $(".test1");
        $("#btn1").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
  
    jQuery(function ($) {
        var target = $(".test2");
        $("#btn2").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test3");
        $("#btn3").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test4");
        $("#btn4").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test5");
        $("#btn5").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test6");
        $("#btn6").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test7");
        $("#btn7").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test8");
        $("#btn8").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test9");
        $("#btn9").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test10");
        $("#btn10").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test11");
        $("#btn11").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test12");
        $("#btn12").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test13");
        $("#btn13").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test14");
        $("#btn14").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test15");
        $("#btn15").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test16");
        $("#btn16").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test17");
        $("#btn17").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test18");
        $("#btn18").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test19");
        $("#btn19").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test20");
        $("#btn20").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test21");
        $("#btn21").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test22");
        $("#btn22").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test23");
        $("#btn23").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test24");
        $("#btn24").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test25");
        $("#btn25").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test26");
        $("#btn26").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test27");
        $("#btn27").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test28");
        $("#btn28").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test29");
        $("#btn29").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test30");
        $("#btn30").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test0");
        $("#btn0").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });

    jQuery(function ($) {
        var target = $(".test31");
        $("#btn31").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });

    jQuery(function ($) {
        var target = $(".test32");
        $("#btn32").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test33");
        $("#btn33").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test34");
        $("#btn34").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test35");
        $("#btn35").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test36");
        $("#btn36").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test37");
        $("#btn37").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test38");
        $("#btn38").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test39");
        $("#btn39").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test40");
        $("#btn40").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test41");
        $("#btn41").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test42");
        $("#btn42").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test43");
        $("#btn43").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test44");
        $("#btn44").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test45");
        $("#btn45").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test46");
        $("#btn46").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test47");
        $("#btn47").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test48");
        $("#btn48").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test49");
        $("#btn49").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test50");
        $("#btn50").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test51");
        $("#btn51").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test52");
        $("#btn52").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test53");
        $("#btn53").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test54");
        $("#btn54").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test55");
        $("#btn55").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test56");
        $("#btn56").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test57");
        $("#btn57").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test58");
        $("#btn58").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test59");
        $("#btn59").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test60");
        $("#btn60").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test61");
        $("#btn61").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test62");
        $("#btn62").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test63");
        $("#btn63").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test64");
        $("#btn64").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test65");
        $("#btn65").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test66");
        $("#btn66").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test67");
        $("#btn67").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test68");
        $("#btn68").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test69");
        $("#btn69").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test70");
        $("#btn70").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test71");
        $("#btn71").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test72");
        $("#btn72").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test73");
        $("#btn73").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test74");
        $("#btn74").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test75");
        $("#btn75").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test76");
        $("#btn76").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test77");
        $("#btn77").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test78");
        $("#btn78").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test79");
        $("#btn79").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test80");
        $("#btn80").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test81");
        $("#btn81").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test82");
        $("#btn82").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test83");
        $("#btn83").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test84");
        $("#btn84").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test85");
        $("#btn85").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test86");
        $("#btn86").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test87");
        $("#btn87").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test88");
        $("#btn88").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test89");
        $("#btn89").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test90");
        $("#btn90").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test91");
        $("#btn91").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test92");
        $("#btn92").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test93");
        $("#btn93").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test94");
        $("#btn94").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test95");
        $("#btn95").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test96");
        $("#btn96").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test97");
        $("#btn97").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test98");
        $("#btn98").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    jQuery(function ($) {
        var target = $(".test99");
        $("#btn99").click(function () {
            if (target.is(":hidden")) {
                target.slideDown();

            } else {
                target.slideUp();

            }
        })
    });
    
</script>


<style type="text/css">
    label {
        background: green;
        color: #fff;
        padding: 10px;
        display: block;
        margin: 0;
        border: 1px solid #fff;
    }

    input[type="checkbox"].on-off {
        display: none;
    }

    .menu ul {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu li {
        padding: 5px;
    }

    input[type="checkbox"].on-off+ul {
        height: 0;
        overflow: hidden;
    }

    input[type="checkbox"].on-off:checked+ul {
        height: 200px;
    }

    .test0 {
        display: none;
    }

    .test1 {
        display: none;
    }

    .test2 {
        display: none;
    }

    .test3 {
        display: none;
    }

    .test4 {
        display: none;
    }

    .test5 {
        display: none;
    }

    .test6 {
        display: none;
    }

    .test7 {
        display: none;
    }

    .test8 {
        display: none;
    }

    .test9 {
        display: none;
    }

    .test10 {
        display: none;
    }

    .test11 {
        display: none;
    }

    .test12 {
        display: none;
    }

    .test13 {
        display: none;
    }

    .test14 {
        display: none;
    }

    .test15 {
        display: none;
    }

    .test16 {
        display: none;
    }

    .test17 {
        display: none;
    }

    .test18 {
        display: none;
    }

    .test19 {
        display: none;
    }

    .test20 {
        display: none;
    }

    .test21 {
        display: none;
    }

    .test22 {
        display: none;
    }

    .test23 {
        display: none;
    }

    .test24 {
        display: none;
    }

    .test25 {
        display: none;
    }

    .test26 {
        display: none;
    }

    .test27 {
        display: none;
    }

    .test28 {
        display: none;
    }

    .test29 {
        display: none;
    }

    .test30 {
        display: none;
    }

    .test31{
        display: none;
    }
.test32{
        display: none;
    }
.test33{
        display: none;
    }
.test34{
        display: none;
    }
.test35{
        display: none;
    }
.test36{
        display: none;
    }
.test37{
        display: none;
    }
.test38{
        display: none;
    }
.test39{
        display: none;
    }
.test40{
        display: none;
    }
.test41{
        display: none;
    }
.test42{
        display: none;
    }
.test43{
        display: none;
    }
.test44{
        display: none;
    }
.test45{
        display: none;
    }
.test46{
        display: none;
    }
.test47{
        display: none;
    }
.test48{
        display: none;
    }
.test49{
        display: none;
    }
.test50{
        display: none;
    }
.test51{
        display: none;
    }
.test52{
        display: none;
    }
.test53{
        display: none;
    }
.test54{
        display: none;
    }
.test55{
        display: none;
    }
.test56{
        display: none;
    }
.test57{
        display: none;
    }
.test58{
        display: none;
    }
.test59{
        display: none;
    }
.test60{
        display: none;
    }
.test61{
        display: none;
    }
.test62{
        display: none;
    }
.test63{
        display: none;
    }
.test64{
        display: none;
    }
.test65{
        display: none;
    }
.test66{
        display: none;
    }
.test67{
        display: none;
    }
.test68{
        display: none;
    }
.test69{
        display: none;
    }
.test70{
        display: none;
    }
.test71{
        display: none;
    }
.test72{
        display: none;
    }
.test73{
        display: none;
    }
.test74{
        display: none;
    }
.test75{
        display: none;
    }
.test76{
        display: none;
    }
.test77{
        display: none;
    }
.test78{
        display: none;
    }
.test79{
        display: none;
    }
.test80{
        display: none;
    }
.test81{
        display: none;
    }
.test82{
        display: none;
    }
.test83{
        display: none;
    }
.test84{
        display: none;
    }
.test85{
        display: none;
    }
.test86{
        display: none;
    }
.test87{
        display: none;
    }
.test88{
        display: none;
    }
.test89{
        display: none;
    }
.test90{
        display: none;
    }
.test91{
        display: none;
    }
.test92{
        display: none;
    }
.test93{
        display: none;
    }
.test94{
        display: none;
    }
.test95{
        display: none;
    }
.test96{
        display: none;
    }
.test97{
        display: none;
    }
.test98{
        display: none;
    }
.test99{
        display: none;
    }


    .table>tbody>tr>td {
        padding: 3px;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .Keyword {
        padding: 0px;
        width: 30%;
    }

    .Answer {
        padding: 0px;
        width: 90%;
    }

    .NextQA {
        padding: 0px;
    }
</style>

<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">

            <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="" class="simple-text">
                        TF_Chat
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/top">
                            <i class="ti-home"></i>
                            <p>Top Page</p>
                        </a>
                    </li>
                    <li>
                        <a href="/qa">
                            <i class="ti-comments"></i>
                            <p>QA</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/qa_import">
                            <i class="ti-comments"></i>
                            <p>CSVで一括登録</p>
                        </a>
                    </li>
                    <!--        <li>
                    <a href="/log">
                        <i class="ti-server"></i>
                        <p>Log</p>
                    </a>
                </li>
         -->
                    <li>
                        <a href="/test">
                            <i class="ti-pin-alt"></i>
                            <p>Test</p>
                        </a>
                    </li>
{#                    <li>#}
{#                        <a href="/userlist">#}
{#                            <i class="ti-user"></i>#}
{#                            <p>管理者</p>#}
{#                        </a>#}
{#                    </li>#}
                    <li>
                        <a href="/setting">
                            <i class="ti-settings"></i>
                            <p>Setting</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="main-panel">

            <nav class="navbar navbar-default">


                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only    ">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">QA</a>
                    </div>
                </div>


            </nav>

            <div class="content" style="padding-top: 100px">
                <div class="container-fluid">
                    <div class="row">
                    </div>
                    <div class="col-md-12">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div  style="display: flex;">
                                <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
                                <button class="btn btn-default" type="submit" class="btn" name="button">アップロード</button>
                            </div>
                        </form>
                        <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid #ccc;
                            line-height: 1.5;
                            }

                            table.type06 th {
                            width: 150px;
                            padding: 10px;
                            font-weight: bold;
                            vertical-align: top;
                            background: #3f3f3f;
                            color: #ffffff;
                            }
                            table.type06 td {
                            width: 350px;
                            padding: 10px;
                            vertical-align: top;
                            }
                        </style>
                        <br>
                        <table class="type06" border=1>
                            <tr><td>番号</td><td>Keyword</td><td>Answer</td><td>URL</td><td>Status(1:公開 0:非公開)</td></tr>
                        </table>
                        <br>
                        <div class="csv_fomat">
                            csvの例になります。
                            <table class="type06" border=1>
                                <tr><td>0</td><td></td><td>わかりませんでした。こちらからお問い合わせください。</td><td>https://goo.gl/forms/8VFFen4L2dk4XAl83</td><td>1</td></tr>
                                <tr><td>1</td><td>値段</td><td>値段は月額24,800円からになります。</td><td>https://goo.gl/forms/8VFFen4L2dk4XAl83</td><td>1</td></tr>
                                <tr><td>2</td><td>値段</td><td>値段は月額24,800円からになります。</td><td>https://goo.gl/forms/8VFFen4L2dk4XAl83</td><td>1</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                , create by <a href="http://www.techforward.co.jp/">Techforward.Inc</a>
            </div>
        </div>
    </footer>



</body>



</html>